<link rel='stylesheet' href='/partial/partial-problems.css'>
<div id='problems'>
    <div id='problemlist' class='collection' style='height:100%'>
        <a class='collection-item prettylist' ng-repeat='prob in probleminfo.problems' ng-click='$parent.currentProblem=prob'>
        {{prob.name.value()}}
    </a>
    </div>
    <div id='problemdisplay'>
        <div id='probleminfo'>
            <h3 id='problemtitle'>{{currentProblem.name.value()}}</h3>
            <div style='border-bottom: 1px solid black'>
                <span>Input: <b>{{currentProblem.inputname.value()}}</b></span>
                <div style='width:30%;display:inline-block;'></div>
                <span>Output: <b>{{currentProblem.outputname.value()}}</b></span>
                <div style='width:20%;display:inline-block'></div>
                <span>Points: <b>{{currentProblem.pointvalue.value()}}</b></span>
            </div>
            <h5>Problem Description:</h5>
            <p ng-bind-html='currentProblem.description.value() | trust'></p>
            <h5>Input Description</h5>
            <p ng-bind-html='currentProblem.descin.value() | trust'></p>
            <h5>Output Description</h5>
            <p ng-bind-html='currentProblem.descout.value() | trust'></p>
            <div>
                <a href='/problems/{{currentProblem.id}}/samplein' download>
                    <h5 class='samplehead'>Sample Input</h5>
                </a>
                <a href='/problems/{{currentProblem.id}}/sampleout' download>
                    <h5 class='samplehead'>Sample Output</h5>
                </a>
            </div>
            <div>
                <pre class='sample'>{{currentProblem.samplein.value()}}</pre>
                <pre class='sample'>{{currentProblem.sampleout.value()}}</pre>
            </div>
        </div>
        <div id='submissioninfo'>
            <div id='submissionlist'>
                <table>
                    <thead>
                        <th>Submission ID</th>
                        <th>Judgement</th>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            <div id='submitnew'>
                <h5>New Submission</h5>
            </div>
        </div>
    </div>

</div>