html, body {
    height: 100%;
    width: 100%;
    margin: 0; 
}
div {
    height: 100%;
    width: 100%;
}

.collapsible-header{
    font-style: italic;
    cursor: default !important;
}
.dropdown-info{
    cursor: default !important;
}



.dropdown-link{
    cursor: select !important;
}
#contestinfo *{
    color: darkgreen;
    text-align: center;
}
.collapsible-body{
    cursor: default !important;
}
.dropdown-button{
    cursor: default !important;
}
#content{
    margin:.5em;
    height: calc(100% - 64px - 1em) ; /*64px = height of nav, 1em is total margin of content*/
    width: calc(100% - 1em);
}